@model FlightCreateModelGet
@{
    ViewData["Title"] = "Оформление рейса";
}

<div>
    <h3>Форма оформления рейса</h3>
    <p>Для оформления рейса заполните следующие поля:</p>
    <form method="post">
        <table>
            <tr>
                <td>Номер рейса<span style="color: red">*</span> :</td>
                <td>
                    <input type="text" name="NumberOfFlight"/>
                </td>
            </tr>
            <tr>
                <td>Откуда<span style="color: red">*</span> :</td>
                <td>
                    <select id="FromCityId" name="FromCityId">
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Куда<span style="color: red">*</span> :</td>
                <td>
                    <select id="ToCityId" name="ToCityId">
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                </td>

            </tr>
            <tr>
                <td>Время вылета запланированное<span style="color: red">*</span> :</td>
                <td>
                    <input id="DepartureTimeId" type="datetime-local" name="DepartureTime"/>
                </td>
            </tr>
            <tr>
                <td>Время прилета запланированное<span style="color: red">*</span> :</td>
                <td>
                    <input id="ArrivalTimeId" type="datetime-local" name="ArrivalTime"/>
                </td>
            </tr>
            <tr>
                <td>Авиакомпания<span style="color: red">*</span> :</td>
                <td>
                    <select
                        id="AirlineId" name="AirlineId">
                        @foreach (var airline in Model.Airlines)
                        {
                            <option value="@airline.Id">@airline.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Пилот<span style="color: red">*</span> :</td>
                <td>
                    <select
                        id="PilotId" name="PilotId">
                    </select>
                </td>
            </tr>
            <tr>
                <td>Самолет<span style="color: red">*</span> :</td>
                <td>
                    <select
                        id="AirlineAirplaneId" name="AirlineAirplaneId">
                    </select>
                </td>
            </tr>
            <tr>
                <td>Терминал<span style="color: red">*</span> :</td>
                <td>
                    <input type="text" name="Terminal"/> 
                </td>
            </tr>
            <tr>
                <td>Выход<span style="color: red">*</span> :</td>
                <td>
                    <input type="text" name="Gate"/> 
                </td>
            </tr>


            <tr>
                <td>Время вылета фактическое:</td>
                <td>
                    <input id="ActualDepartureTimeId" type="datetime-local" name="ActualDepartureTime"/>
                </td>
            </tr>
            <tr>
                <td>Время прилета фактическое:</td>
                <td>
                    <input id="ActualArrivalTimeId" type="datetime-local" name="ActualArrivalTime"/>
                </td>
            </tr>
            <tr>
                <td>Начало регистрации:</td>
                <td>
                    <input id="CheckInStartTimeId" type="datetime-local" name="CheckInStartTime"/>
                </td>
            </tr>
            <tr>
                <td>Окончание регистрации:</td>
                <td>
                    <input id="CheckInEndTimeId" type="datetime-local" name="CheckInEndTime"/>
                </td>
            </tr>
            <tr>
                <td>Начало посадки:</td>
                <td>
                    <input id="BoardingStartTimeId" type="datetime-local" name="BoardingStartTime"/>
                </td>
            </tr>
            <tr>
                <td>Окончание посадки:</td>
                <td>
                    <input id="BoardingEndTimeId" type="datetime-local" name="BoardingEndTime"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Создать"/>
                </td><td></td>
            </tr>
        </table>
    </form>
</div>

@section Scripts {
    <script>
        const airplanes = @Html.Raw(Json.Serialize(Model.Airplanes));
        const pilots=@Html.Raw(Json.Serialize(Model.Pilots));
        
        $(function () {
            
            function updateAirplanes() {
                
               var airlineId = Number.parseInt( $("select#AirlineId").val());
                      
               $("select#AirlineAirplaneId").empty();
                      
               $.each(airplanes, function (i, item) {
                  if (item.airlineId === airlineId){
                            const option = `<option value="${item.id}">${item.airplaneModel} ${item.serialNumber}</option>`;
                            $("select#AirlineAirplaneId").append(option);
                  }
               });
            }
            
            function updatePilots(){
                
                var airlineId = Number.parseInt( $("select#AirlineId").val()); //$("select#AirlineId").val()  $("select#AirlineAirplaneId").val(selectedAirlineAirplaneId).change();
                
                $("select#PilotId").empty();
                
                $.each(pilots, function(i,item) {
                    if (item.airlineId === airlineId){
                        const  option = `<option value="${item.id}">${item.name} ${item.surName}</option>`;
                        $("select#PilotId").append(option);                   
                                                  
                    }
                  
                })
            }
              
                    
            $("select#AirlineId").change(function () {
                    updateAirplanes(); 
                    updatePilots()  
            })    
               
             updateAirplanes();  
             updatePilots()  
             
             $("#DepartureTimeId").change(function () {
                      var  departureTime= $("#DepartureTimeId").val();
                         $("#ArrivalTimeId").attr({"min":departureTime});
                   
             }) 
                                  
             $("#ArrivalTimeId").change(function () {
                       var  arrivalTime= $("#ArrivalTimeId").val();
                          $("#DepartureTimeId").attr({"max":arrivalTime});   
                                    
             })   
             
              $("#ActualDepartureTimeId").change(function () {
                       var  actualDepartureTime= $("#ActualDepartureTimeId").val();
                         $("#ActualArrivalTimeId").attr({"min":actualDepartureTime});
                                /* alert(actualDepartureTime);*/
              }) 
             
              $("#ActualArrivalTimeId").change(function () {
                        var  actualArrivalTime= $("#ActualArrivalTimeId").val();
                           $("#ActualDepartureTimeId").attr({"max":actualArrivalTime});                            
              })
             
             $("#CheckInStartTimeId").change(function () {
                        var  checkInStartTime= $("#CheckInStartTimeId").val();
                            $("#CheckInEndTimeId").attr({"min":checkInStartTime});                                            
             })
             
             $("#CheckInEndTimeId").change(function () {
                        var  checkInEndTime= $("#CheckInEndTimeId").val();
                             $("#CheckInStartTimeId").attr({"max":checkInEndTime});                                            
             })
             
             $("#BoardingStartTimeId").change(function () {
                        var  boardingStartTime= $("#BoardingStartTimeId").val();
                              $("#BoardingEndTimeId").attr({"min":boardingStartTime});                                            
             })
                        
             $("#BoardingEndTimeId").change(function () {
                        var  boardingEndTime= $("#BoardingEndTimeId").val();
                              $("#BoardingStartTimeId").attr({"max":boardingEndTime});                                            
             })
             
        })  
    </script>
}