@model FlightIndexIpModel

@{
    ViewData["Title"] = "Список рейсов";
}
<div>

    @if (Model.Flights.Count > 0)
    {
        <h3>Список рейсов:</h3>
        <table>
            <tr>
                <th> Номер рейса </th>
                <th> Время вылета </th>
                <th> Время прилета </th>
                <th> Откуда </th>
                <th> Куда </th>
                <th> Авиакомпания </th>
                <th> Модель самолета </th>
                <th> Пилот </th>
                <th> Выход </th>
                <th> Терминал </th>
                <th> Время фактического вылета </th>
                <th> Время фактического прилета </th>
                <th> Начало регистрации </th>
                <th> Окончание регистрации </th>
                <th> Начало посадки </th>
                <th> Окончание посадки </th>


            </tr>
            <form method="post">
                <tr>
                    <td>
                        <input type="text" name="NumberOfFlight" asp-for="Flight.NumberOfFlight"/>
                    </td>
                    <td>
                        <input type="date" name="DepartureTime" asp-for="Flight.DepartureTime"/> @*value="2053-10-20" asp-for="Flight.DepartureTime"*@
                    </td>
                    <td>
                        <input type="date" name="ArrivalTime" asp-for="Flight.ArrivalTime"/>
                    </td>
                    <td>
                        <select asp-for="Flight.FromCityId" name="FromCityId">
                            <option value="null"></option>
                            @foreach (var city in Model.Cities)
                            {
                                <option value="@city.Id">@city.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                    <select asp-for="Flight.ToCityId" name="ToCityId">
                        <option value="null"></option>
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                    <td>
                        <select asp-for="Flight.AirlineId" name="AirlineId">
                            <option value="null"></option>
                            @foreach (var airline in Model.Airlines)
                            {
                                <option value="@airline.Id">@airline.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select asp-for="Flight.AirplaneId" name="AirplaneId">
                            <option value="null"></option>
                            @foreach (var airplane in Model.Airplanes)
                            {
                                <option value="@airplane.Id">@airplane.AirplaneModel @airplane.SerialNumber</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select asp-for="Flight.PilotId" name="PilotId">
                            <option value="null"></option>
                            @foreach (var pilot in Model.Pilots)
                            {
                                <option value="@pilot.Id">@pilot.Name @pilot.SurName</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="Фильтровать"/>
                    </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="Index">Снять фильтр</a>
                    </td>
                </tr>
            </form>
            @*<a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="Index">Сортировать</a>*@

            @foreach (var flight in Model.Flights)
            {
                <tr>
                    <td>@flight.NumberOfFlight </td>
                    <td>@flight.DepartureTime </td>
                    <td>@flight.ArrivalTime </td>
                    <td>@flight.FromCity </td>
                    <td>@flight.ToCity </td>
                    <td>@flight.AirlineName </td>
                    <td>@flight.AirplaneModel @flight.AirplaneSerialNumber </td>
                    <td>@flight.PilotFullName </td>
                    <td>@flight.Gate </td>
                    <td>@flight.Terminal </td>
                    <td>@flight.ActualDepartureTime </td>
                    <td>@flight.ActualArrivalTime </td>
                    <td>@flight.CheckInStartTime </td>
                    <td>@flight.CheckInEndTime </td>
                    <td>@flight.BoardingStartTime </td>
                    <td>@flight.BoardingEndTime </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="Update" asp-route-id="@flight.Id">Редактировать</a>
                    </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="Delete" asp-route-id="@flight.Id">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>Рейсы отсутствуют</div>
        <div>
            <a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="Index">Снять фильтр</a>
        </div>
    }
    <a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="Create">Добавить рейс</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="CreateRepeatEvent">Добавить рейс по расписанию</a>


</div>