@model AirlineAirplaneUpdateModelGet
@{
	ViewData["Title"] = "Изменить данные самолета ";
}

<div>
	<h3>Форма изменения данных самолета</h3>
	<p>Для изменения данных заполните следующие поля:</p>
	<form method="post">
		<table>
			<tr>
				<td> Изменить авиакомпанию:</td>
				<td>
					<select asp-for="Airplane.AirlineId" name="AirlineId">
						@foreach (var airline in Model.Airlines)
						{
							<option value="@airline.Id">@airline.Name</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td> Изменить модель самолета:</td>
				<td>
					<select asp-for="Airplane.AirplaneId" name="AirplaneId">
						@foreach (var airplane in Model.Airplanes)
						{
							<option value="@airplane.Id">@airplane.Model</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td>Изменить серийный номер:</td>
				<td>
					<input type="number" name="SerialNumber" value="@Model.Airplane.SerialNumber" maxlength="10"/>
				</td>
			</tr>

			<tr>
				<td>
					<input type="submit" value="Сохранить"/>
				</td><td></td>
			</tr>
		</table>
	</form>

</div>