@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ScoreboardDepartureIndexIpModel
@{
	ViewData["Title"] = "Вылет";
}
<div>
	<h3>Табло вылетов</h3>
	<form method="post">
		<div>
			Выберите город :
			<select asp-for="CityId" name="cityId">
				<option value="null"></option>
				@foreach (var city in Model.Cities)
				{
					<option value="@city.Id">@city.Name</option>
				}
			</select>

			Выберите дату :
			<input type="date" asp-for="DateTime" name="dateTime"/>
			<input type="submit" value="Выбрать"/>
		</div>
	</form>
	@if (Model.Flights.Count > 0)
	{
		<table>
			<tr>
				<th> Авиакомпания </th>
				<th> Номер рейса </th>
				<th> Модель самолета </th>
				<th> Куда </th>
				<th> Время </th>
				<th> Терминал </th>
				<th> Выход </th>
				<th> Статус </th>
			</tr>

			@foreach (var flight in Model.Flights)
			{
				<tr>
					<td>@flight.AirlineName </td>
					<td>@flight.NumberOfFlight </td>
					<td>@flight.AirplaneModel </td>
					<td>@flight.ToCity </td>
					<td>@flight.DepartureTime </td>
					<td>@flight.Terminal </td>
					<td>@flight.Gate </td>
					<td>@flight.StatusMessage </td>
				</tr>
			}
		</table>
	}
	else
	{
		<div>Рейсы вылета отсутствуют</div>
		<div>
			<a class="nav-link text-dark" asp-area="" asp-controller="ScoreboardDeparture" asp-action="Index">Снять фильтр</a>
		</div>
	}

</div>